
body{
	background-color: pink;
}

#myheader{
background-color: white;
color: brown;
padding:5px;
text-align: center;
}
.Ife{
color: brown
}

hr{
	width:2%;
	border-style:none;
border-top-style: dotted;
border-width: 2px;
border-color: brown;
} 

img {
height:100px;
width: 100px;
border-radius:50px;
 }